<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
        .td1{
            /*width:70%;*/
        }
        .td2{
            /*width:15%;*/
        }

    </style>
</head>
<body>
    <div>
        <p style="text-align: center">测试订单</p>
        <div>门店名称门店名称</div>
        <div>收货人：阿达</div>
        <div>收货地址：上海市虹口区虹口路123号</div>
        <div>下单时间：2018-10-11 11:11:11</div>
        <div>订单编号：10000001</div>
        <hr style="border: dashed 1px;">
        <div>
            <table style="width:99%;">
                <tr>
                    <td class="td1">家乐测试商品1</td>
                    <td class="td2">10元</td>
                    <td class="">2个</td>
                </tr>
                <tr>
                    <td class="td1">家乐测试商品2</td>
                    <td class="td2">30元</td>
                    <td class="">3箱</td>
                </tr>
                <tr>
                    <td class="td1">家乐测试商品3</td>
                    <td class="td2">15元</td>
                    <td class="">4瓶</td>
                </tr>
                <tr>
                    <td class="td1">青菜</td>
                    <td class="td2">15元</td>
                    <td class="">1捆</td>
                </tr>
            </table>
        </div>
        <hr style="border: dashed 1px;">
        <div>总金额：100元</div>
        <div>备  注：啦啦啦啦啦</div>
        <div>批发商：参加跨年进出口撒</div>
        <div>联系电话：15244646486</div>
        <div>地址：参考今年才看见爱上你空间你看见参看空间才能</div>
    </div>
</body>
</html>